---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import EventList from '../components/EventList.svelte';
import { config } from '../lib/config.js';
import data from '../data.json';

---

<Layout>
	<main>
		<EventList data={data} client:load />
	</main>
</Layout>

<style>
</style>