---
import { config } from '../lib/config.js';
---

<div class="h-16 flex gap-8 items-center">
    <h1 class="text-xl whitespace-nowrap"><a href="/"><span class="font-bold">⟠ eth</span>events.xyz</a></h1>
    <div class="grow menu flex gap-4 h-full items-center">
        <div><a href="/">Events</a></div>
        <div><a href="/series">Series</a></div>
        <div><a href="/contributors">Contributors</a></div>
        <div><a href="/map">Map</a></div>
    </div>
    <div class="flex gap-4">
        <div><a class="external" target="_blank" href="https://github.com/ethereumeg/chronicle">Source</a></div>
        <div><a class="external" target="_blank" href="https://ethevents.club">Forum</a></div>
    </div>
</div>

<style>
    .menu div { @apply block; }
    .menu div a:hover { @apply underline; }
</style>